@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli/css/bpg-nino-mkhedruli.min.css");
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
a{ color: 
    #8D81FF;}
.ap { color: 
    #4E6FAE}
 li {
   display: inline-block;
    margin-left: 90px; }
  nav {
  display: inline-block;
      }
  a {
       color: #8D81FF;
     font-family: FiraGO;
    font-size: 26px;
   font-style: normal;
   font-weight: 700;
  line-height: normal;
   }
.htmllogo {
    vertical-align: middle;
   }
  header {
   margin: 50px;
  }
  .conteiner{
   width: 1291px;
   margin: auto;
  }     
  .ri{
    color: #84FF81;
    width: 50px;
    height: 50px;
    background-color: #5012d5;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px;
margin-bottom: 18px;
  }  
.mai{
    color: #8D81FF;
font-family: "BPG Nino Mkhedruli";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 119px;
height: 34px;
margin-bottom: 8px;
}
.sat{
    width: 578px;
height: 34px;
color: #4E6FAE;
font-family: "ALKDots", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 13px;
}
.pa{
    width: 778px;
height: 353px;
color: #4E6FAE;
font-family: "ALKBasri-Light", sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 60px;
display: inline-block;
vertical-align: auto;
}
.conteinero{
    width: 1052px;
    margin: auto;
}
.hsi{
    width: 150px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
}
.line{
    background: #5012D5;
    width: 2px;
height: 24px;
display: inline-block;
}
.ixi{
    color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 484px;
height: 34px;
display: inline-block;
}
.arti{
    height: 34px;
    margin-top: 120px ;
    margin-bottom: 26px;
}
.kar{
    background: #E7E7E7;
    width: 500px;
height: 192px;
display: inline-block ;

}
.karh{
    color: #3F4145;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 307px;
margin-top: 21px;
margin-left: 23px;

}
.karp{
    width: 335px;
height: 95px;
color: #7E8898;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
vertical-align:top;
margin-top: 21px;

}
.kari{
    width: 77px;
height: 77px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
display: inline-block;
margin: 30px 37px 41px 36px;
}
.karori{
    background: #E7E7E7;
    width: 500px;
height: 192px;
display: inline-block;
margin-left: 42px;
}
.conteinersami{
    width: auto;
height: 735px;
background: #E7E7E7;

}
.gb{
    width: 474px;
height: 34px;
color: #4E6FAE;
font-family: "Helvetica Neue";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 93px 1024px 27px 162px;
display: inline-block;
}
.gd{
    width: 307px;
    color: #7E8898;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 23px;
margin-left: 162px;

display: inline-block;


}
iframe{
    width: 681px;
    height: 549px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: none;
    display: inline-block;
    margin-left: 212px ;
    margin-top: 92px;
    
  }
  .sak{
    display: inline-block;
    width: 474px;
   
  }